[flake8]
exclude =
    .git
    .venv
    __pycache__
    __pypackages__
    build
    dist
ignore =
    Q000
    W503
    ANN101
    ANN102
max-line-length = 88
per-file-ignores =
    examples/run_interpolate_rife.py:E501
    examples/run_upscale_waifu2x.py:E501
