Package: video2x
Version: 6.1.0
Section: video
Priority: optional
Architecture: amd64
Maintainer: K4YT3X <i@k4yt3x.com>
Depends: ffmpeg, libboost-program-options1.83.0
Description: A machine learning-based lossless video super resolution framework.
