# *-ncnn-vulkan driver backends
realsr-ncnn-vulkan-python
rife-ncnn-vulkan-python
srmd-ncnn-vulkan-python
waifu2x-ncnn-vulkan-python

# regular Python packages from PyPI
ffmpeg-python
loguru
opencv-python
pillow
rich
tqdm
