# *-ncnn-vulkan driver backends
git+git://github.com/media2x/waifu2x-ncnn-vulkan-python@master
git+git://github.com/media2x/realsr-ncnn-vulkan-python@master
git+git://github.com/media2x/srmd-ncnn-vulkan-python@master
git+git://github.com/media2x/rife-ncnn-vulkan-python@master

# regular Python packages from PyPI
ffmpeg-python
loguru
opencv-python
pillow
rich
tqdm
