name: Video2X Build Binaries

on:
  push:
    branches: [master]

defaults:
  run:
    working-directory: src

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install -r requirements.txt
      - name: Build Video2X CLI
        run: |
          pyinstaller --noconfirm --log-level=WARN `
              --onefile `
              --add-data="wrappers;wrappers" `
              --icon="images\video2x.ico" `
              video2x.py
      - name: Build Video2X GUI
        run: |
          pyinstaller --noconfirm --log-level=WARN `
              --onefile `
              --add-data="images;images" `
              --add-data="locale;locale" `
              --add-data="video2x_gui.ui;." `
              --add-data="wrappers;wrappers" `
              --icon="images\video2x.ico" `
              video2x_gui.py
      - name: Build Video2X setup script
        run: |
          pyinstaller --noconfirm --log-level=WARN `
              --onefile `
              --icon="images\video2x.ico" `
              video2x_setup.py
      - name: Collect artifacts into folder
        run: |
          New-Item "nightly-light\" -ItemType Directory
          Copy-Item "dist\video2x.exe" -Destination "nightly-light\"
          Copy-Item "dist\video2x_gui.exe" -Destination "nightly-light\"
          Copy-Item "dist\video2x_setup.exe" -Destination "nightly-light\"
          Copy-Item "video2x.yaml" -Destination "nightly-light\"
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: nightly-light
          path: src/nightly-light/
