name: Container
on:
  push:
    branches:
      - master
    tags:
      - "*"
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Get current tag
        id: get_current_tag
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
      - uses: mr-smithers-excellent/docker-build-push@v5
        name: Build & push Docker image
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USER }}
          password: ${{ secrets.GHCR_TOKEN }}
          dockerfile: Dockerfile
          image: k4yt3x/video2x
          tags: latest, ${{ steps.get_current_tag.outputs.tag }}
